<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span translate>about-title</span>
    </ion-title>
    <ion-buttons end edo-ros-status>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="ion-card-wrapper">
    <ion-card>
      <ion-card-header>
        <ion-item>
          <span translate>about-sw-versions-title</span>
        </ion-item>
      </ion-card-header>

      <ion-list *ngIf="!loaded">
        <ion-item>
          <ion-spinner item-start></ion-spinner>
          <h2 translate>about-loading</h2>
        </ion-item>
      </ion-list>
      <ion-list *ngIf="loaded">
        <ion-item  *ngFor="let node of swVersions?.nodes">
            <h2 item-start>
                <span *ngIf="node.id == 0">USB Interface</span>
                <span *ngIf="node.id > 0 && node.id < 255">Joint {{node.id}}</span>
                <span *ngIf="node.id == 255">ROS software</span>
            </h2>
            <p item-end>{{node.version}}</p>
        </ion-item>
        <ion-item>
          <h2>Licence</h2>
          <p class="about-licence-text">
            Copyright (c) 2018, COMAU S.p.A.
            All rights reserved.
          </p>
          <p class="about-licence-text">
              Redistribution and use in source and binary forms, with or without
              modification, are permitted provided that the following conditions are met:
          </p>
          <p class="about-licence-text">
            1. Redistributions of source code must retain the above copyright notice, this
               list of conditions and the following disclaimer.
            2. Redistributions in binary form must reproduce the above copyright notice,
               this list of conditions and the following disclaimer in the documentation
               and/or other materials provided with the distribution.
          </p>
          <p class="about-licence-text">
            THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
            ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
            WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
            DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
            ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
            (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
            LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
            ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
            (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
            SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
          </p>
          <p class="about-licence-text">
            The views and conclusions contained in the software and documentation are those
            of the authors and should not be interpreted as representing official policies,
            either expressed or implied, of the FreeBSD Project.
          </p>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>
</ion-content>
