<ion-header>
    <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        <span translate>settings-wifi-title</span>
      </ion-title>
      <ion-buttons end edo-ros-status>
      </ion-buttons>
    </ion-navbar>
  </ion-header>

  <ion-content>
    <div class="ion-card-wrapper">
      <ion-card>
        <ion-card-header>
          <ion-item>
            <span translate>settings-wifi-title</span>
          </ion-item>
        </ion-card-header>

        <ion-list>
          <ion-item *ngIf="!loaded">
            <ion-spinner item-start></ion-spinner>
            <h2 translate>settings-loading</h2>
          </ion-item>
          <ion-item *ngIf="loaded" (click)="editWiFiSsid()">
            <h2 translate>settings-edo-wifi-ssid</h2>
            <h3>{{wifiSsid}}</h3>
          </ion-item>
          <ion-item *ngIf="loaded" (click)="editWiFiPassword()">
            <h2 translate>settings-edo-wifi-password</h2>
            <h3>{{wifiPassword}}</h3>
          </ion-item>
        </ion-list>
      </ion-card>
    </div>
  </ion-content>
