<ion-grid>
  <ion-row>
    <ion-col>
      <button class="num-keypad-button" ion-button (click)="onInputNumber('1')">1</button>
    </ion-col>
    <ion-col>
        <button class="num-keypad-button" ion-button (click)="onInputNumber('2')">2</button>
    </ion-col>
    <ion-col>
        <button class="num-keypad-button" ion-button (click)="onInputNumber('3')">3</button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <button class="num-keypad-button" ion-button (click)="onInputNumber('4')">4</button>
    </ion-col>
    <ion-col>
        <button class="num-keypad-button" ion-button (click)="onInputNumber('5')">5</button>
    </ion-col>
    <ion-col>
        <button class="num-keypad-button" ion-button (click)="onInputNumber('6')">6</button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <button class="num-keypad-button" ion-button (click)="onInputNumber('7')">7</button>
    </ion-col>
    <ion-col>
        <button class="num-keypad-button" ion-button (click)="onInputNumber('8')">8</button>
    </ion-col>
    <ion-col>
        <button class="num-keypad-button" ion-button (click)="onInputNumber('9')">9</button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <button class="num-keypad-button" ion-button (click)="onInputNumber('.')" *ngIf="!firstTime && value.length > 0">.</button>
      <button class="num-keypad-button" ion-button (click)="onInputNumber('-')" *ngIf="firstTime || value.length == 0">
          <ion-icon name="remove"></ion-icon>
      </button>
    </ion-col>
    <ion-col>
        <button class="num-keypad-button" ion-button (click)="onInputNumber('0')">0</button>
    </ion-col>
    <ion-col>
      <button class="num-keypad-button num-keypad-delete" ion-button icon-only (click)="onInputBackspace()">
          <ion-icon name="backspace"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-grid>
