<ion-header>
  <ion-navbar color="primary" *ngIf="!firstTime">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ion-icon class="menu-icon-space-right" name="locate"></ion-icon>
      <span translate>calibration-title</span>
    </ion-title>
    <ion-buttons end edo-ros-status>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="calibration-image">
    <div class="calibration-image-container">
      <ion-row>
        <ion-col>
          <div class="calibration-image-column">
            <h1 class="hide-on-short-screen" translate>calibration-image-text</h1>
            <h1 class="hide-on-tall-screen" translate>calibration-image-text-short</h1>
          </div>
        </ion-col>
        <ion-col col-7 class="hide-on-short-screen">
          <div class="calibration-image-column">
              <img class="no-waypoints-big-image" src="assets/img/calibration.svg" />
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>

<ion-footer no-shadow>
  <ion-grid>
    <ion-row align-item-center text-center *ngIf="currentJoint == -2">
      <ion-col align-self-center class="joint-buttons">
        <div class="calibration-method">
          <div>
            <p translate>calibration-calibrate-from-actual-position</p>
            <button ion-button (click)="onCalibrateStart()">
              <span translate>calibration-calibrate-start</span>
            </button>
          </div>
        </div>
      </ion-col>
      <ion-col *ngIf="!firstTime">
        <div class="calibration-method">
          <div>
            <p translate>calibration-calibrate-from-calibrate-position</p>
            <ion-row>
              <ion-col>
                <button ion-button block color="primary" hold (holdingStart)="onReset($event)" (holdingCancel)="onStop($event)"><span translate>calibration-calibrate-reset</span></button>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </ion-col>
      <ion-col *ngIf="firstTime">
        <div class="calibration-method">
          <div>
            <p translate>calibration-disconnect-title</p>
            <ion-row>
              <ion-col>
                <button ion-button block color="primary" (click)="disconnect()"><span translate>calibration-disconnect</span></button>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row align-item-center text-center *ngIf="currentJoint == -1">
      <ion-col col-auto align-self-center class="joint-buttons">
        <button class="button-move-joint" ion-button icon-only disabled>
          <ion-icon name="remove"></ion-icon>
        </button>
      </ion-col>
      <ion-col align-self-center class="joint-buttons">
        <ion-row class="calibration-steps">
          <ion-col>
            <h2 translate>calibration-select-joint-to-be-calibrated</h2>
          </ion-col>
        </ion-row>
        <ion-row class="calibration-steps">
          <ion-col col-auto>
            <button *ngIf="ros.joints.joints_mask % 2 >= 1" ion-button icon-right [outline]="!jointsCalibrated[0]" [color]="jointsCalibrated[0] ? 'secondary' : ''" (click)="onCalibrateStart(0)">J1<ion-icon [name]="jointsCalibrated[0] ? 'checkmark-circle' : 'radio-button-off'"></ion-icon></button>
            <button *ngIf="ros.joints.joints_mask % 4 >= 2" ion-button icon-right [outline]="!jointsCalibrated[1]" [color]="jointsCalibrated[1] ? 'secondary' : ''" (click)="onCalibrateStart(1)">J2<ion-icon [name]="jointsCalibrated[1] ? 'checkmark-circle' : 'radio-button-off'"></ion-icon></button>
            <button *ngIf="ros.joints.joints_mask % 8 >= 4" ion-button icon-right [outline]="!jointsCalibrated[2]" [color]="jointsCalibrated[2] ? 'secondary' : ''" (click)="onCalibrateStart(2)">J3<ion-icon [name]="jointsCalibrated[2] ? 'checkmark-circle' : 'radio-button-off'"></ion-icon></button>
            <button *ngIf="ros.joints.joints_mask % 16 >= 8" ion-button icon-right [outline]="!jointsCalibrated[3]" [color]="jointsCalibrated[3] ? 'secondary' : ''" (click)="onCalibrateStart(3)">J4<ion-icon [name]="jointsCalibrated[3] ? 'checkmark-circle' : 'radio-button-off'"></ion-icon></button>
            <button *ngIf="ros.joints.joints_mask % 32 >= 16" ion-button icon-right [outline]="!jointsCalibrated[4]" [color]="jointsCalibrated[4] ? 'secondary' : ''" (click)="onCalibrateStart(4)">J5<ion-icon [name]="jointsCalibrated[4] ? 'checkmark-circle' : 'radio-button-off'"></ion-icon></button>
            <button *ngIf="ros.joints.joints_mask % 64 >= 32" ion-button icon-right [outline]="!jointsCalibrated[5]" [color]="jointsCalibrated[5] ? 'secondary' : ''" (click)="onCalibrateStart(5)">J6<ion-icon [name]="jointsCalibrated[5] ? 'checkmark-circle' : 'radio-button-off'"></ion-icon></button>
            <button *ngIf="ros.joints.joints_mask % 128 >= 64" ion-button icon-right [outline]="!jointsCalibrated[6]" [color]="jointsCalibrated[6] ? 'secondary' : ''" (click)="onCalibrateStart(6)">J7<ion-icon [name]="jointsCalibrated[6] ? 'checkmark-circle' : 'radio-button-off'"></ion-icon></button>
            <button *ngIf="ros.joints.joints_mask % 256 >= 128" ion-button icon-right [outline]="!jointsCalibrated[7]" [color]="jointsCalibrated[7] ? 'secondary' : ''" (click)="onCalibrateStart(7)">J8<ion-icon [name]="jointsCalibrated[7] ? 'checkmark-circle' : 'radio-button-off'"></ion-icon></button>
            <button *ngIf="ros.joints.joints_mask % 512 >= 256" ion-button icon-right [outline]="!jointsCalibrated[8]" [color]="jointsCalibrated[8] ? 'secondary' : ''" (click)="onCalibrateStart(8)">J9<ion-icon [name]="jointsCalibrated[8] ? 'checkmark-circle' : 'radio-button-off'"></ion-icon></button>
            <button *ngIf="ros.joints.joints_mask % 1024 >= 512" ion-button icon-right [outline]="!jointsCalibrated[9]" [color]="jointsCalibrated[9] ? 'secondary' : ''" (click)="onCalibrateStart(9)">J10<ion-icon [name]="jointsCalibrated[9] ? 'checkmark-circle' : 'radio-button-off'"></ion-icon></button>
          </ion-col>
        </ion-row>
        <ion-row class="calibration-joint-buttons" justify-content-center>
          <ion-col col-auto>
            <button ion-button icon-right color="secondary" (click)="onCalibrateAll()">
              <span translate>calibration-calibrate-all-joints</span>
              <ion-icon name="checkmark"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-auto align-self-center class="joint-buttons">
        <button class="button-move-joint" ion-button icon-only disabled>
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <ion-row align-item-center text-center *ngIf="currentJoint >= 0">
        <ion-col col-auto align-self-center class="joint-buttons">
          <button class="button-move-joint" ion-button icon-only #neg="holdRef" [disabled]="pos.holdingCount > 0" hold (holding)="onJointsValueChange(currentJoint, -1)" (holdingCancel)="onJointsValueChange(currentJoint, 0)">
            <ion-icon name="remove"></ion-icon>
          </button>
        </ion-col>
        <ion-col align-self-center class="joint-buttons">
          <ion-row class="calibration-steps">
            <ion-col>
              <h2><span translate>calibration-current-axis</span> J{{currentJoint + 1}} {{ros.joints.joints[currentJoint].position | edonumber }}</h2>
            </ion-col>
          </ion-row>
          <ion-row class="calibration-steps">
            <ion-col>
              <edo-range-wrapper [speed]="speed">
                <ion-range min="0" max="100" step="5" snaps="true" [(ngModel)]="speed" [disabled]="sorting || currentElement >= 0">
                </ion-range>
              </edo-range-wrapper>
            </ion-col>
          </ion-row>
          <ion-row class="calibration-joint-buttons">
            <ion-col col-4>
              <button ion-button [disabled]="pos.holdingCount > 0 || neg.holdingCount > 0" (click)="onCalibrateStart(-1)">
                <span translate>calibration-calibrate-cancel</span>
              </button>
            </ion-col>
            <ion-col col-8>
              <button ion-button icon-right color="secondary" [disabled]="pos.holdingCount > 0 || neg.holdingCount > 0" (click)="onCalibrate()">
                <span translate>calibration-calibrate-current-axis</span>
                <ion-icon name="checkmark"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-auto align-self-center class="joint-buttons">
          <button class="button-move-joint" id="jogadd" ion-button icon-only #pos="holdRef" [disabled]="neg.holdingCount > 0" hold (holding)="onJointsValueChange(currentJoint, 1)" (holdingCancel)="onJointsValueChange(currentJoint, 0)">
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-footer>
