<ion-row>
    <ion-col>
        <h1><ion-icon name="alert"></ion-icon> <span translate>unlock-modal-title</span></h1>
    </ion-col>
</ion-row>
<ion-row>
    <ion-col>
        <p translate>unlock-modal-message</p>
    </ion-col>
</ion-row>
<ion-row>
  <ion-col>
      <button ion-button (click)="disconnect()"><span translate>unlock-modal-disconnect</span></button>
  </ion-col>
  <ion-col>
      <button ion-button (click)="unlock()"><span translate>unlock-modal-unlock</span></button>
  </ion-col>
</ion-row>
